.message, .userMessage{
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.message{
    align-self: flex-start;
}
.message::before, .message::after {
    content: '';
    position: absolute;
    left: -20px; bottom: 4px;
    border: 10px solid transparent;
    border-right: 10px solid #555;
}
.message::after {
    justify-self: flex-start;
    border-right: 10px solid burlywood;
    left: -19px;
}

.userMessage::before, .userMessage::after {
    content: '';
    position: absolute;
    right: -20px; bottom: 4px;
    border: 10px solid transparent;
    border-left: 10px solid #555;
}
.userMessage::after {
    border-left: 10px solid burlywood;
    right: -19px;
}
